@use './mixin' as font;


//=================function=================//
@function skillsMeter($value) {
	@if $value == 1 {
		@return 90%;
	}
	@else if $value == 11 {
		@return 85%;
	}
	@else if $value == 2 {
		@return 80%;
	}
	@else if $value == 3 or $value == 4 or $value == 10 {
		@return 70%;
	}
	@else if $value == 5 {
		@return 60%;
	}
	@else if $value == 9 {
		@return 50%;
	}
	@else if $value == 6 or $value == 7 {
		@return 40%;
	}
	@else if $value == 8 {
		@return 20%;
	}
	@else {
		@return 0;
	}
}


//=================var=================//
//-----for-----//
$for-start-skills: 1;
$for-end-skills: 11;

//-----color-----//
$color-body: #f8f8f8;
$color-heading: #1e507e;
$color-nav_line: #1e507e;
$color-footer: #d9d9d9;
$color-about-heading: #ffffff;		//テキストの色
$color-about-heading2: #7aa3c9;	//ボックスの色
$color-about-heading3: #ffffff;	//左の〇の色
$color-about-dt_line: #1e507e;
$color-skills-main_meter1: #3bc4d7;	//メーターの色
$color-skills-main_meter2: #d9d9d9;	//メーターの色
$color-skills-main_center: #ffffff;	//真ん中の色
$color-skills-contents_back: #d9d9d9;
$color-skills-contents_img: #ffffff;
$color-skills-contents_meter: #3bc4d7;


//=================customProperty=================//
:root {
//-----slick-----//
	--slick-left_rotate: 30deg;
	--slick-left_X: 160px;
	--slick-left_Z: -200px;
	--slick-center_rotate: 0deg;
	--slick-center_X: 0;
	--slick-center_Z: 0;
	--slick-right_rotate: -30deg;
	--slick-right_X: -160px;
	--slick-right_Z: -200px;
}


//=================various=================//
/*-----font-----*/
@include font.font-face('Noto Serif JP', '../font/subset_NotoSerifJP-Bold', 700, null, woff woff2);


/*-----clearfix-----*/
.clearfix {
	display: block;

	//clearfix::before
	&::before {
		content: "";
		display: block;
		clear: both;
	}

	//clearfix::after
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}


/*-----body-----*/
body {
	font-family: "Noto Serif JP";
	background: $color-body;
	box-sizing: border-box;
}


/*-----h1~6-----*/
h1 {
	height: 80%;
	font-size: 6em;
	color: $color-heading;
	display: flex;
	align-items: center;
	justify-content: center;
}
h2 {
	width: 100%;
	padding: 4rem 0 2rem;
	font-size: 4em;
	color: $color-heading;
	text-align: center;
}
h3 {
	font-size: 3em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	width: 100%;
	height: 20%;
	margin: 0.4em 0;
	font-size: 1.5em;
	text-align: center;
}

/*=================header=================*/
header {
	width: 100%;
	height: 100vh;
	background: {
		image: url("../img/head_backimage.jpg");
		color: rgba(255, 255, 255, 0.5);
		blend-mode: lighten;
		size: 100% 1080px;
		repeat: no-repeat;
	};
	clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}


/*-----nav-----*/
nav {
	width: 40%;
	margin: 0 auto;
}

/*-----nav-content-----*/
.nav-content {
	width: 20%;
	padding: 0.8em 0;
	text-align: center;
	float: left;
	position: relative;

	//.nav-content a
	a {
		width: 100%;
		height: auto;
		font-size: 1.2rem;
	}

	//.nav-content::after
	&::after {
		content: "";
		width: 20%;
		height: 4px;
		background-color: $color-nav_line;
		border-radius: 20%;
		position: absolute;
		bottom: 4px;
		left: 50%;
		transform: translateX(-50%);
	}
}


/*=================main=================*/

/*-----section-----*/
section {
	height: 100%;
}

/*-----.about-base-----*/
.about-base {
	display: flex;
	justify-content: center;
	align-items: center;

	//.about-base h3
	h3 {
		margin: 24px 56px 40px;
	}

	//.about-base .about-school
	.about-school {
		margin: 24px 56px 40px;
		font-size: 2em;
		text-align: center;
	}
}

/*-----.about-favorite-----*/
.about-favorite {
	width: 40%;
	margin: 0 auto;

	//.about-favorite h4
	h4 {
		margin-bottom: 0.8rem;
		padding: 0.2em 0.5em 0.4em;
		background: $color-about-heading2;
		border-radius: 25px 0 0 25px;
		color: $color-about-heading;
		display: inline-block;
		vertical-align: middle;

		&::before {
			content: '●';
			font-size: 0.8em;
			color: $color-about-heading3;
			margin-right: 8px;
			padding-bottom: 0.2em;
		}
	}

	//.about-favorite dl
	dl {
		width: 100%;
		display: flex;
		align-items: center;
		flex-flow: wrap;

		//.about-favorite dl dt
		dt {
			width: 20%;
			margin: 0.4rem 4%;
			text-align: center;
			font-size: 1.5em;
			position: relative;

			&::after {
				content: "";
				display: block;
				height: 4px;
				background: linear-gradient(to right, $color-about-dt_line, transparent);
			}
		}
		
		//.about-favorite dl dd
		dd {
			width: 60%;
		}
	}
}

/*-----.about-text-----*/
.about-text {
	width: 60%;
	text-align: center;
	margin: 2rem auto;

	//.about-text h4
	h4 {
		width: 4 * 1.5em;
		margin: 1em auto;
		position: relative;
		padding-left: 1.2em;

		//.about-text h4::before
		&::before {
			content: "";
			width: 1.6em;
			height: 1.2em;
			background: {
				image: url("../img/hukidasi.jpg");
				size: cover;
			}
			position: absolute;
			left: -0.5em;
			top: 0;
		}
	}

	//.about-text p
	p {
		width: 60%;
		margin: 0 auto;
		font-size: 1.2em;
		line-height: 2em;
	}
}


/*-----#skills-----*/
#skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	h2 {
		margin-bottom: 0.5em;
	}
}

/*-----.skills_main-----*/
.skills-main {
	width: 280px;
	height: 280px;
	margin: 0 4%;
	background-image: radial-gradient($color-skills-main_center 56%, transparent 57%),
						conic-gradient($color-skills-main_meter1 0% 60%, $color-skills-main_meter2 60% 100%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	

	//~~768px
	@media screen and (min-width: 960px) {
		order: 1;
	}

	//.skills-main img
	img {
		width: 80%;
	}
}

/*-----.skills-box-----*/
.skills-box {
	width: 56%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	//.skills-box::after
	&::after {
		content: "";
		width: 22%;
		height: 20px;
		min-width: 160px;
		display: block;
	}
}

/*-----.skills-contents-----*/
.skills-contents {
	width: 22%;
	min-width: 160px;
	margin-bottom: 2%;
	background-color: $color-skills-contents_back;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;

	//.skills-contents h5
	h5 {
		position: relative;
	}

	//.skills-contents img
	img {
		width: 32%;
		margin: 0 4% 4%;
		background: $color-skills-contents_img;
		border-radius: 50%;
		position: relative;
	}

	//.skills-contents p
	p {
		margin: 0 auto;
		font-size: 1.8em;
		position: relative;
	}

	//.skills-contents::before
	&::before {
		content: "";
		height: 100%;
		background: $color-skills-contents_meter;
		position: absolute;
	}
}

@for $i from $for-start-skills through $for-end-skills {
	.skills-contents:nth-child(#{$i})::before {
		width: skillsMeter($i);
	}
}

/*-----#works-----*/
#works {
	h2 {
		margin-bottom: 0.5em;
	}
}

/*-----.works-box-----*/
.works-box {
	width: 100%;
}

/*-----.works-contents-----*/
.works-contents {
	position: relative;
	transform-style: preserve-3d;
	transform: translate3d(0px, 0px, 0px);
	perspective: 1200px;

	//.works-contents
	img {
		width: 100%;
		margin: 0 auto;
	}

	//.works-contents a
	a {
		width: 100%;
		height: auto;
		
	}
}

// .slick-list {
// 	transform-style: preserve-3d;
// 	perspective: 1200px;
// }

// .slick-track {
// 	transform: preserve-3d;
// 	perspective: 400px;
// 	transform: translate3d(0px, 0px, 0px);
// }

/*-----.slick-left-----*/
.slick-left {
	position: relative;
	top: 0;

	//.slick-left img
	img {
		position: relative;
		transform-style: preserve-3d;
		transform: translate3d(var(--slick-left_X), 0, var(--slick-left_Z)) rotateX(0) rotateY(var(--slick-left_rotate)) scale(1);
	}
}

/*-----.slick-center-----*/
.slick-center {
	position: relative;
	z-index: 1;

	//.slick-center img
	img {
		position: relative;
		transform-style: preserve-3d;
		transform: translate3d(var(--slick-center_X), 0, var(--slick-center_Z)) rotateX(0) rotateY(var(--slick-center_rotate)) scale(1);
	}
}

/*-----.slick-right-----*/
.slick-right {
	position: relative;
	top: 0;

	//.slick-right img
	img {
		position: relative;
		transform-style: preserve-3d;
		transform: translate3d(var(--slick-right_X), 0, var(--slick-right_Z)) rotateX(0) rotateY(var(--slick-right_rotate)) scale(1);
	}
}


/*-----#contact-----*/
#contact {
	height: 720px;
	position: relative;
}

/*-----.contact-contents-----*/
.contact-contents {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 36%;
	
	//.contact-contents p
	p {
		font-size: 1.5rem;
		margin: 20px 0;
	}
}

/*=================footer=================*/
footer {
	padding: 2rem;
	background: $color-footer;
	text-align: center;
}