@use './mixin' as font;
@include font.font-face('Noto Serif JP', '../font/subset_NotoSerifJP-Bold', 700, null, woff woff2);


/*=================various=================*/
/*-----h1~6-----*/
h1 {
	font-size: 4rem;
}
h2 {

}
h3 {

}

/*-----body-----*/
body {
	font-family: "Noto Serif JP";
	width: 100vw;
}

/*=================header=================*/
header {
	background-image: url("../img/head_backimage.jpg");
	object-fit: fill;
	width: 100%;
	height: 1080px;
}